In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
file = pd.read_csv("Datasets/HR_data.csv")

In [3]:
file.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

# Data Exploration and analysis

In [5]:
left = file[file.left==1]

In [10]:
left.shape # There are 3570 rows where we have employee had left the company

(3571, 10)

In [11]:
retained = file[file.left == 0]

In [13]:
retained.shape  #11428 candidates have retained their job

(11428, 10)

In [15]:
file.groupby('left').mean()

C:\Users\admin\AppData\Local\Temp\ipykernel_11308\3859853000.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  file.groupby('left').mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321

So in above line of code we have used the groupby function first
This function will group all the rows in the file having same value i.e 0 or 1
After grouping all the rows into new dataframe it will find mean of every column for the respective value of left column value

So from above data we can conclude that retention of the employee is based on few factors and they are
1. satisfaction level
2. avg monthly hours
3. promotion 

work accident and time spend company are the two factors which affect in the negative direction so at this point we won't consider them

Impact of salary on employe retention

In [ ]:
pd.crosstab(file.)