In [48]:
import pandas as pd

In [49]:
file = pd.read_csv("Datasets/iris.csv")

In [50]:
file.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

As at this point I won't be able to handle the string data as output 
let's convert variety column into suitable number

In [51]:
dummies = pd.get_dummies(file.variety)

In [52]:
dummies

     Setosa  Versicolor  Virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

In [53]:
file = pd.concat([file, dummies], axis = 'columns')

In [54]:
file

,sepal.length,sepal.width,petal.length,petal.width,variety,Setosa,Versicolor,Virginica
0,5.1,3.5,1.4,0.2,Setosa,1,0,0
1,4.9,3.0,1.4,0.2,Setosa,1,0,0
2,4.7,3.2,1.3,0.2,Setosa,1,0,0
3,4.6,3.1,1.5,0.2,Setosa,1,0,0
4,5.0,3.6,1.4,0.2,Setosa,1,0,0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,0,0,1
146,6.3,2.5,5.0,1.9,Virginica,0,0,1
147,6.5,3.0,5.2,2.0,Virginica,0,0,1
148,6.2,3.4,5.4,2.3,Virginica,0,0,1
149,5.9,3.0,5.1,1.8,Virginica,0,0,1

In [ ]:
file = file.drop(['variety', 'V'])