'''
One hot encoding might look like a complex method in the ML but it is much much easy and simple to use though
As in previous cases we had the numerical data for most of the cases in the datasets
Based on the numerical value we were able to train and then fit the model so as it was able to predict result.
But as of now we will be having text columns based on which we have to predict the result
One of the approach can be assign numerical values to the text data variable available but it will produce chaos
as the regression model get the idea if certain number is greater than the other and all even though there is no relation between them
Hence we use 'One hot encoding' method
Here new columns are introduced and they are assigned the bianry value either the 1 or 0 based on the availabilty of the respective variable
and few dummy values of 0 are also indtroduced where the variable is absent
'''

In [106]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [107]:
file = pd.read_csv("Datasets/HomePrice.csv")

In [108]:
file

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

 '''
# Here I could have directly used the name of the file and it will have returned me the file with dummy values along with one columns 
removed from the file
But as I am in the learning phase I have to go step wise
'''

In [109]:
dummies = pd.get_dummies(file.town)

In [110]:
dummies

    monroe township  robinsville  west windsor
0                 1            0             0
1                 1            0             0
2                 1            0             0
3                 1            0             0
4                 1            0             0
5                 0            0             1
6                 0            0             1
7                 0            0             1
8                 0            0             1
9                 0            1             0
10                0            1             0
11                0            1             0
12                0            1             0

In [111]:
file = pd.concat([file, dummies], axis ="columns")

In [112]:
file

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [113]:
file = file.drop(['town', 'west windsor'], axis = 'columns')

In [114]:
file

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [115]:
model = LinearRegression()

In [116]:
X = file.drop(['price'], axis = 'columns')

In [117]:
X

    area  monroe township  robinsville
0   2600                1            0
1   3000                1            0
2   3200                1            0
3   3600                1            0
4   4000                1            0
5   2600                0            0
6   2800                0            0
7   3300                0            0
8   3600                0            0
9   2600                0            1
10  2900                0            1
11  3100                0            1
12  3600                0            1

In [118]:
Y = file.price

In [119]:
Y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [120]:
model.fit(X, Y)

LinearRegression()

In [121]:
model.coef_

array([   126.89744141, -40013.97548914, -14327.56396474])

In [122]:
model.intercept_

249790.36766292527

In [127]:
model.predict([[5000, 0, 1]])

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([869950.01075034])

In [128]:
import pickle

In [129]:
with open("FlatPrice", "wb") as f:
    pickle.dump(model, f)

In [135]:
with open("FlatPrice", "rb") as f:
    pickleModel = pickle.load(f)

In [136]:
pickleModel.predict([[5000, 0, 1]])

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([869950.01075034])