In [61]:
import pandas as pd

In [62]:
file = pd.read_csv("Datasets/Titanic.csv")

In [63]:
file.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [64]:
file = file.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis = 'columns')

In [65]:
file.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [66]:
dummies = pd.get_dummies(file.Sex)

In [67]:
file = pd.concat([dummies, file], axis = 'columns')

In [68]:
file.head()

   female  male  Pclass     Sex   Age     Fare  Survived
0       0     1       3    male  22.0   7.2500         0
1       1     0       1  female  38.0  71.2833         1
2       1     0       3  female  26.0   7.9250         1
3       1     0       1  female  35.0  53.1000         1
4       0     1       3    male  35.0   8.0500         0

In [69]:
file = file.drop('Sex', axis = 'columns')

In [70]:
file.head()

   female  male  Pclass   Age     Fare  Survived
0       0     1       3  22.0   7.2500         0
1       1     0       1  38.0  71.2833         1
2       1     0       3  26.0   7.9250         1
3       1     0       1  35.0  53.1000         1
4       0     1       3  35.0   8.0500         0

In [71]:
file.isna().sum()

female        0
male          0
Pclass        0
Age         177
Fare          0
Survived      0
dtype: int64

In [72]:
mean = file.Age.mean()

In [73]:
mean

29.69911764705882

In [74]:
file["Age"] = file.Age.fillna(mean)

In [75]:
file.head()

   female  male  Pclass   Age     Fare  Survived
0       0     1       3  22.0   7.2500         0
1       1     0       1  38.0  71.2833         1
2       1     0       3  26.0   7.9250         1
3       1     0       1  35.0  53.1000         1
4       0     1       3  35.0   8.0500         0

In [76]:
file.isna().sum()

female      0
male        0
Pclass      0
Age         0
Fare        0
Survived    0
dtype: int64

In [77]:
X = file.drop('Survived', axis = 'columns')

In [78]:
Y = file.Survived

In [79]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=0.2)

In [80]:
from sklearn.naive_bayes import GaussianNB

In [81]:
model = GaussianNB()

In [82]:
model.fit(train_X, train_Y)

GaussianNB()

In [83]:
model.predict(test_X)

array([0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0], dtype=int64)

In [84]:
test_Y

112    0
348    1
280    0
550    1
248    1
      ..
646    0
594    0
299    1
278    0
480    0
Name: Survived, Length: 179, dtype: int64

In [85]:
model.score(test_X, test_Y)

0.7597765363128491